<header>
  <h1> Koło Otwartych Technik Informacyjnych i Komputerowych </h1>

  <nav id="main-nav">
    <ul>
      <a href="">O kole</a>
      <a href="">Wiki</a>
      <%= link_to "Wydarzenia", events_index_path %>
      <a href="">Dołącz</a>
      <a href="">Newsletter</a>
    </ul>
  </nav>

  <div id="language-selection">
    <a href="">en</a>
  </div>
</header>

<section id="promo">
  <article id="main-event" class="future-event">
    <h2> Główny event </h2>
    <img src="http://i594.photobucket.com/albums/tt22/fudgii3/300x300.png" />
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit lorem, feugiat quis aliquet vel, hendrerit eget urna. Cras vel nulla quis felis pellentesque malesuada nec quis libero. Cras quis tellus dolor. Sed varius placerat turpis, et vehicula nisi rhoncus eget. Mauris varius massa at nibh tincidunt posuere. Nullam sodales erat non nisi viverra bibendum. Aliquam dolor urna, vestibulum eu mattis at, iaculis vel est. Proin molestie rhoncus nulla non sollicitudin. Donec nec erat tellus, a feugiat nulla. Donec tincidunt facilisis semper. Quisque porta lorem sed tortor sodales ut elementum tellus viverra. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit lorem, feugiat quis aliquet vel, hendrerit eget urna. Cras vel nulla quis felis pellentesque malesuada nec quis libero. Cras quis tellus dolor. Sed varius placerat turpis, et vehicula nisi rhoncus eget. Mauris varius massa at nibh tincidunt posuere. Nullam sodales erat non nisi viverra bibendum. Aliquam dolor urna, vestibulum eu mattis at, iaculis vel est. Proin molestie rhoncus nulla non sollicitudin. Donec nec erat tellus, a feugiat nulla. Donec tincidunt facilisis semper. Quisque porta lorem sed tortor sodales ut elementum tellus viverra. </p>
    <span class="datetime words"> Za 3 dni </span>
    <span class="datetime"> 13.03.2013 13:37</span>
  </article>
</section>

<section id="past-events">
  <h2> Zdjęcia i video</h2>
  <article class="past">
    <h1> Poprzedni event </h1>
    <img src="http://i1113.photobucket.com/albums/k508/CerezZitha_Toxika/100x100.jpg" />
    <p> Maecenas sem felis, pellentesque ut gravida in, blandit vitae nisi. Vivamus varius fringilla enim, in adipiscing erat suscipit sit amet. Nam velit urna </p>
  </article>
  <span class="load-more" data-load="past-events">Więcej</span>
</section>

<section id="info"
  <h2> Nasze spotkania</h2>
  <article>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit lorem, feugiat quis aliquet vel, hendrerit eget urna. Cras vel nulla quis felis pellentesque malesuada nec quis libero. Cras quis tellus dolor. Sed varius placerat turpis, et vehicula nisi rhoncus eget. Mauris varius massa at nibh tincidunt posuere. Nullam sodales erat non nisi viverra bibendum. Aliquam dolor urna, vestibulum eu mattis at, iaculis vel est. Proin molestie rhoncus nulla non sollicitudin. Donec nec erat tellus, a feugiat nulla. Donec tincidunt facilisis semper. Quisque porta lorem sed tortor sodales ut elementum tellus viverra. </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit lorem, feugiat quis aliquet vel, hendrerit eget urna. Cras vel nulla quis felis pellentesque malesuada nec quis libero. Cras quis tellus dolor. Sed varius placerat turpis, et vehicula nisi rhoncus eget. Mauris varius massa at nibh tincidunt posuere. Nullam sodales erat non nisi viverra bibendum. Aliquam dolor urna, vestibulum eu mattis at, iaculis vel est. Proin molestie rhoncus nulla non sollicitudin. Donec nec erat tellus, a feugiat nulla. Donec tincidunt facilisis semper. Quisque porta lorem sed tortor sodales ut elementum tellus viverra. </p>
  </article>
</section>
