<header>
  <h1> Koło Otwartych Technik Informacyjnych i Komputerowych </h1>

  <nav id="main-nav">
    <ul>
      <a href="">O kole</a>
      <a href="">Wiki</a>
      <%= link_to "Wydarzenia", events_index_path %>
      <a href="">Dołącz</a>
      <a href="">Newsletter</a>
    </ul>
  </nav>

  <div id="language-selection">
    <a href="">en</a>
  </div>
</header>
<div id="content">

  <div class="main-page-content">
    <nav>
    <ul class="nav nav-tabs">
      <li class=active><a href="/"><span class="translation_missing" title="translation missing: pl.layout.tabs.info">Info</span></a></li>
      <li ><a href="/events/rms/lecture">Zdjęcia</a></li>
      <li ><a href="/events/rms/bio">Pobieranie</a></li>
      <li ><a href="/events/rms/main">Dla mediów</a></li>
    </ul>
    </nav>

    <div class="tab-content">
      <div id="lecture">
        <a name="lecture"></a>
        <h2>Szczegółowe informacje o wykładzie</h2> <p>Wykład odbędzie się <b>13 marca 2013 o godzinie 12:00</b> w Małej Auli Gmachu Głównego Politechniki Warszawskiej</p>

        <p>Tytuł wykładu to „Wolne społeczeństwo cyfrowe” (oryg. „A free digital society”). Wiele w Polsce mówi się o tak zwanym „cyfrowym wykluczeniu” jako przeciwieństwie partycypacji w osiągnięciach najnowszej techniki, w szczególności komputerowej. Traktuje się przy tym cyfrowe wykluczenie bezwzględnie jako zło, które należy likwidować, a to z kolei oznacza automatyczne wprowadzenie w to miejsce czegoś dobrego. Stallman oferuje głębszą refleksję nad pytaniem o dobre i złe strony cyfrowego uczestnictwa w kulturze. </p>

        <p>Prelegent opisuje wykład następująco: <i>Activities directed at „including” more people in the use of digital technology are predicated on the assumption that such inclusion is invariably a good thing. It appears so, when judged solely by immediate practical convenience. However, if we also judge in terms of human rights, whether digital inclusion is good or bad depends on what kind of digital world we are to be included in. If we wish to work towards digital inclusion as a goal, it behooves us to make sure it is the good kind.</i></p>
      </div>

      <div id="bio">
        <a name="bio"></a>
        <h2> Sylwetka gościa</h2> <p>Dr Richard Stallman zapoczątkował ruch wolnego oprogramowania w roku 1983 i rozpoczął rozwijanie systemu operacyjnego GNU (<a href="http://www.gnu.org/" target="_blank">www.gnu.org</a>) w roku 1984. GNU jest wolnym oprogramowaniem: każdemu wolno je kopiować i rozpowszechniać zarówno ze zmianami jak i bez. System GNU/Linux, czyli system operacyjny GNU z dodanym Linuksem jest dziś używany na dziesiątkach milionów komputerów. </p> <p> Stallman otrzymał nagrodę ACM imienia Grace Hopper, stypendium Fundacji MacArthur, Nagrodę Pioniera od Electronic Frontier Foundation, Nagrodę Takeda za „Ulepszenia Społeczno-Ekonomiczne”, a także kilka honorowych doktoratów. </p>
      </div>

      <div id="main">
        <a name="main"></a>
        <h2> Program wizyty</h2><h3>13 marca</h3>Cykl spotkań w Warszawie:<br><ul><li><b>12:00 - 14:00 - wykład na Politechnice Warszawskiej</b>; sala: <b>Gmach Główny - Mała Aula</b><br></li>
          <li>14:00 - konferencja prasowa, tylko dla mediów; Gmach Starej Kotłowni, sala nr 4</li>
          <li>18:00 - spotkanie w <a href="http://centrumcyfrowe.pl/richard-stallman-spotkanie-w-centrum-cyfrowym/" target="_blank">Centrum Cyfrowym</a><br></li></ul><p></p><h3>14 marca</h3>Wyjazd do Krakowa, na <a href="http://sfi.org.pl/" target="_blank">Studencki Festiwal Informatyczny</a>, który zaprosił Stallmana i sfinansował jego przylot do Polski.<p></p> <p></p>
      </div>

      <div id="organizers">
        <a name="organizers"></a>
        <h2> Organizatorzy </h2>
        <h3> Organizator główny </h3> <p> </p>
        <ul class="org">
          <li>
            <a href="http://pw.edu.pl"><img alt="Warsaw University of Technology" src="/assets/pw-f7953ff04658b377d5c94de8cfcf169e.png" /></a><span>Politechnika Warszawska</span>
          </li>
          <li>
            <a href="http://www.ee.pw.edu.pl"><img alt="WUT Department of EE" src="/assets/ee-4be286367defe4fa9d43b61435b20157.png" /></a><span>Wydział Elektyczny PW</span>
          </li>
          <li>
            <a href="http://kotik.iem.pw.edu.pl/"><img alt="KOTIK" src="/assets/kotik-5e2307275b131ff36835417d54086313.png" /></a> <span class="short">Koło KOTIK</span>
          </li>
        </ul>
        <h3> Współorganizatorzy </h3> <p> </p>
        <ul class="org">
          <li>
            <a href="http://www.isoc.org.pl/"><img alt="Internet Society Poland" src="/assets/isoc-6335b99a458f7f3296bed165654ea738.png" /></a><span class="short">ISOC Polska</span>
          </li>
          <li>
            <a href="http://centrumcyfrowe.pl/"><img alt="Centrum Cyfrowe" src="/assets/cc-f8bd31a81783991a36a73228cdb714f8.jpg" /></a>
          </li>
          <li>
            <a href="http://fwioo.pl/"><img alt="Fundacja Wolnego i Otwartego Oprogramowania" src="/assets/fwioo-4b0156a4d1ecb6b04f60035c0ab55ce8.png" /></a>
          </li>
        </ul>
        <h3> Patroni medialni </h3>
        <ul class="org">
          <li>
            <a href="http://www.polibuda.info/art17365"><img alt="polibuda.info" src="/assets/polibuda.info-c3efae1814e4a1da3586012b0e5b4387.png" /></a>
          </li>
          <li>
            <a href="http://di.com.pl/news/47689,0,Zapraszamy_na_wyklad_Richarda_Stallmana_w_Warszawie-Redakcja_.html"><img alt="Dziennik Internautów" src="/assets/di-c2ce1dd7d394ba1c02184815b1869a81.png" /></a>
          </li>
          <li>
            <a href="http://radioaktywne.pl/2013/03/wyklad-richarda-stallmana-na-politechnice-warszawskiej/"><img alt="radioaktywne.pl" src="/assets/radioaktywne.pl-949fb6761cc79a351a804705440dd98c.png" /></a>
          </li>
        </ul>
        <p> Streaming zapewnia Laboratorium Technik Mobilnych <a href="http://brama.elka.pw.edu.pl">BRAMA</a></p>
      </div>

    </div>
  </div>
</div>
    </div>
